include partials/header 
include partials/menu 
<!-- main section -->
	<div class="container-fluid p-0">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="box">
						<img src="images/car.png" alt="about-image" class="img-fluid">
					</div>
				</div>
				<div class="col-md-6">
					<div class="box text-center">
						<h3>JeoCars online shop</h3>
						<p>
							JeoCars is an one-stop car shop with commercial and non-commercial vehicles. As a world renowned Japanese car exporter we pride ourselves for providing a variety of services, including the purchasing, sales, export, and distribution of a wide variety of quality Japanese New and Used Cars and car parts from Japan. JeoCars was one of the first companies in Japan to introduce the selling of Japan New and Used Cars on the Internet.
						</p>
						<button class="btn btn-custom">Shop Now</button>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid bg-custom p-3 mt-4">
		
	</div>
	</div>
<!-- close the main section -->
include partials/footer 