<div class="container-fluid btn-custom p-1">
 <div class="col-md-6 offset-md-3">
  <form>
   <div class="input-group mb-2 mr-sm-2">
    <div class="input-group-append">
    <div class="input-group-text">Search Cars</div>
    </div>
    <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Search car">
    <div class="input-group-append">
     <div class="input-group-text">Search</div>
    </div>
   </div>
  </form>
 </div>
</div>
<nav class="navbar navbar-expand-md navbar-light bg-nav mb-5">
 <a href="#" class="navbar-brand">
    <img src="images/logo.png" height="" width="50%" alt="OnPharm">
 </a>
 <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
  <span class="navbar-toggler-icon"></span>
 </button>
 <div class="collapse navbar-collapse" id="navbarCollapse">
  <div class="navbar-nav">
   <a href="#" class="nav-item nav-link active">Home</a>
   <a href="#" class="nav-item nav-link">Why Us</a>
   <a href="#" class="nav-item nav-link">How to buy</a>
  </div>
  <div class="navbar-nav ml-auto">
   if !user
    <a href="" class="nav-item nav-link">Sign Up</a>
    <a href="#" class="nav-item nav-link">Login</a>
   if user
    <a href="/logout" class="nav-item nav-link">Logout</a>
  </div>
 </div>
</nav>
